 {% extends 'base.html' %}
 {% load static %}
 {% block main %}

    <!-- banner start -->

    <section id="banner-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="banner-contant">
              <h1 class="h1first">Up to</h1>
              <h1 class="h12nd">Half Price</h1>
              <p>Shoes & bages man womens kids</p>
              <a href="product-list-wishlist.html"
                >Shop now<i class="fa fa-angle-right"></i
              ></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="banner-slider owl-carousel owl-theme">
              <div class="item">
                <div class="slider-img">
                  <img src="{% static 'images/bannerslider.png' %}" alt="" /> -->
                </div>
              </div>
              <div class="item">
                <div class="slider-img">
                  <img src="{% static 'images/bannerslider2.png' %}" alt="" /> -->
                </div>
              </div>
              <div class="item">
                <div class="slider-img">
                  <img src="{% static 'images/bannerslider3.png' %}" alt="" />-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- banner end -->

    <!-- Category start -->

    <section id="category-section">
      <div class="container-fluid">
        <div class="category-head d-flex">
          <div class="titel">
            <h4>Browse Category</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category1.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Food</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category2.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Electronics</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category3.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Women</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category4.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Sports</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category5.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Toys</h6>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
            <a href="all-category.html">
              <div class="category-contant">
                <div class="cate-img">
                  <img src="{% static 'images/category6.jpg' %}" alt="" />
                </div>
                <div class="cate-text text-center">
                  <h6>Beauty</h6>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Category end -->

    <!-- how order start -->

    <section id="how-order">
      <div class="container-fluid">
        <div class="ordr-title text-center">
          <h4>How to order?</h4>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="">
              <div class="order-img">
                <img src="{% static 'images/order4-removebg-preview.png' %}" alt="" />
              </div>
              <div class="howorder-contant">
                <h6>Add To Cart</h6>
                <p>
                  Choose your desird products and press the place order button
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="">
              <div class="order-img">
                <img src="{% static 'images/order1-removebg-preview.png' %}" alt="" />
              </div>
              <div class="howorder-contant">
                <h6>Place Order</h6>
                <p>
                  Choose your desird products and press the place order button
                </p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="">
              <div class="order-img">
                <img src="{% static 'images/order3-removebg-preview.png' %}" alt="" />
              </div>
              <div class="howorder-contant">
                <h6>Easy Pament</h6>
                <p>Pay at you convenience, from where ever you are</p>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="">
              <div class="order-img">
                <img src="{% static 'images/order2-removebg-preview.png' %}" alt="" />
              </div>
              <div class="howorder-contant border-right-0">
                <h6>Fast Delivery</h6>
                <p>Get you order delivered within 1 day your doorstep</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- how order end -->

    <!-- flash-deal start -->

    <section id="flashdeal">
      <div class="container-fluid">
        <div class="category-head cate-flash justify-content-between d-flex">
          <div class="titel d-flex">
            <h4>Flash deals</h4>
          </div>
        </div>
        <div class="row">
          <div class="flash-slider owl-carousel owl-theme">
            <div class="item">
              <div class="flashdeal-details">
                <img src="{% static 'images/food4.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-heart-o"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="flash-text">
                  <div class="flashdeal-parsent text-center">
                    <p>sale 10%</p>
                  </div>
                  <div class="flashdeal-parsent2 text-center">
                    <p>Hot Sale</p>
                  </div>
                  <p class="ftext-head">Strawberry</p>
                  <div class="progress-box">
                    <p class="pogno-1">
                      ৳800<span class="pull-right"><del>৳1000</del></span>
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        data-width="21"
                      ></div>
                    </div>
                    <p class="pogno-2">
                      Available: 471<span class="pull-right">Sold: 203</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal-details">
                <img src="{% static 'images/electronic1.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-heart-o"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="flash-text">
                  <div class="flashdeal-parsent text-center">
                    <p>Up to 10%</p>
                  </div>
                  <p class="ftext-head">Electronics</p>
                  <div class="progress-box">
                    <p class="pogno-1">
                      ৳700<span class="pull-right"><del>৳900</del></span>
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar1"
                        role="progressbar"
                        data-width="31"
                      ></div>
                    </div>
                    <p class="pogno-2">
                      Available: 350<span class="pull-right">Sold: 187</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal-details">
                <img src="{% static 'images/beauty12.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-heart-o"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="flash-text">
                  <div class="flashdeal-parsent text-center">
                    <p>sale 20%</p>
                  </div>
                  <p class="ftext-head">Coco Mademoiselle</p>
                  <div class="progress-box">
                    <p class="pogno-1">
                      ৳900<span class="pull-right"><del>৳1050</del></span>
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar2"
                        role="progressbar"
                        data-width="41"
                      ></div>
                    </div>
                    <p class="pogno-2">
                      Available: 267<span class="pull-right">Sold: 147</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="flashdeal-details">
                <img src="{% static 'images/baby7.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li>
                      <a href="#"><i class="fa fa-shopping-cart"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-heart-o"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="flash-text">
                  <div class="flashdeal-parsent text-center">
                    <p>Up to 10%</p>
                  </div>
                  <div class="flashdeal-parsent2 text-center">
                    <p>Mega Sale</p>
                  </div>
                  <p class="ftext-head">Baby Dress</p>
                  <div class="progress-box">
                    <p class="pogno-1">
                      ৳500<span class="pull-right"><del>৳800</del></span>
                    </p>
                    <div class="progress">
                      <div
                        class="progress-bar progress-bar3"
                        role="progressbar"
                        data-width="51"
                      ></div>
                    </div>
                    <p class="pogno-2">
                      Available: 521<span class="pull-right">Sold: 325</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- flash-deal end -->

    <!-- offer start -->

    <section id="offer-section">
      <div class="container-fluid">
        <div class="category-head">
          <div class="titel">
            <h4>Offers</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="offer-details">
              <div class="offer-img">
                <div class="row">
                  <div class="col-md-8 col-8 pr-0">
                    <div class="offer-mainimg mr-1">
                      <img src="{% static 'images/offermainimg1.jpg' %}" alt="" />
                      <div class="offer-parsent text-center"><p>-50%</p></div>
                    </div>
                  </div>
                  <div class="col-md-4 col-4 pr-0">
                    <div class="row">
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg1.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg2.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg2.jpg' %}"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-contant border-top-0">
                <h6>Special Offer</h6>
                <p>Pay at you convenience, from where ever you are</p>
                <a href="special-offer.html"
                  >View All Offer<i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="offer-details">
              <div class="offer-img">
                <div class="row">
                  <div class="col-md-8 col-8 pr-0">
                    <div class="offer-mainimg mr-1">
                      <img src="{% static 'images/offermainimg2.jpg' %}" alt="" />
                    </div>
                  </div>
                  <div class="col-md-4 col-4 pr-0">
                    <div class="row">
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg4.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg5.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg6.jpg' %}"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-contant border-top-0">
                <h6>Mega Offer</h6>
                <p>Pay at you convenience, from where ever you are</p>
                <a href="special-offer.html"
                  >View All Offer<i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="offer-details">
              <div class="offer-img">
                <div class="row">
                  <div class="col-md-8 col-8 pr-0">
                    <div class="offer-mainimg mr-1">
                      <img src="{% static 'images/offermainimg3.jpg' %}" alt="" />
                    </div>
                  </div>
                  <div class="col-md-4 col-4 pr-0">
                    <div class="row">
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg7.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg8.jpg' %}"
                          alt=""
                        />
                      </div>
                      <div class="col-md-12 pl-0 mb-1">
                        <img
                          class="offerimg2"
                          src="{% static 'images/offermainimg8.jpg' %}"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer-contant border-top-0">
                <h6>Best Offer</h6>
                <p>Pay at you convenience, from where ever you are</p>
                <a href="special-offer.html"
                  >View All Offer<i class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- offer end -->

    <!-- product start -->

    <section id="product-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-7 col-md-12 mb-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-6 pr-0">
                <div class="product-img">
                  <img src="{% static 'images/saree1.jpg' %}" alt="" />
                </div>
                <div class="product-parsent text-center"><p>-50%</p></div>
              </div>
              <div class="col-lg-6 col-md-6 col-6 col-pro pl-0">
                <div class="product-details">
                  <h2 class="proh1first">Womens</h2>
                  <h2 class="proh12nd">Under - ৳1000</h2>
                  <p>Shoes & bages man womens kids</p>
                  <a href="furniture-under.html"
                    >Shop now<i class="fa fa-angle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="row">
                  <div class="col-md-6 col-6 pr-0">
                    <div class="productsub-img">
                      <img src="{% static 'images/electronic6.jpg' %}" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6 col-6 col-pro pl-0">
                    <div class="productsub-details">
                      <h4 class="proh1first">HeadPhones</h4>
                      <h4 class="proh12nd">Under - ৳500</h4>
                      <a href="electronics.html"
                        >Shop now<i class="fa fa-angle-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6 col-6 pr-0">
                    <div class="productsub-img">
                      <img src="{% static 'images/men13.jpg' %}" alt="" />
                    </div>
                  </div>
                  <div class="col-md-6 col-6 col-pro pl-0">
                    <div class="productsub-details">
                      <h4 class="proh1first">Mens</h4>
                      <h4 class="proh12nd">Under - ৳800</h4>
                      <a href="men.html"
                        >Shop now<i class="fa fa-angle-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- product start -->

    <!-- productfeedback end -->

    <section id="productfeedback">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12 pr-4">
            <div class="category-head justify-content-between d-flex">
              <div class="titel">
                <h4>Top Selection With Feedback</h4>
              </div>
              <a href="#">See All<i class="fa fa-angle-right"></i></a>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details">
                    <img src="{% static 'images/productfeedback1.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Casual Blazer</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details">
                    <img src="{% static 'images/productfeedback2.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Formal Shirt</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details">
                    <img src="{% static 'images/productfeedback3.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Laptop Backpack</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 pl-4">
            <div class="category-head justify-content-between d-flex">
              <div class="titel">
                <h4>New Arrival Products</h4>
              </div>
              <a href="#">See All<i class="fa fa-angle-right"></i></a>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details2">
                    <img src="{% static 'images/productfeedback4.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Womens Belts</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details2">
                    <img src="{% static 'images/productfeedback5.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Nail Polish</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-6 mb-4">
                <a href="product-details-1.html">
                  <div class="profeedback-details2">
                    <img src="{% static 'images/productfeedback6.jpg' %}" alt="" />
                    <div class="cart-heart">
                      <ul>
                        <li><i class="fa fa-shopping-cart"></i></li>
                        <li><i class="fa fa-heart-o"></i></li>
                      </ul>
                    </div>
                    <div class="profeedback-text">
                      <p>Samsung Galaxy</p>
                      <small>471 Positive Feedback</small>
                      <span>৳1000</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- productfeedback end -->

    <!-- reward start -->

    <section id="reward-section">
      <div class="container-fluid">
        <div class="category-head justify-content-between d-flex">
          <div class="titel">
            <h4>Shop By Rewards Points</h4>
          </div>
          <a href="#">See All<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/women2.jpeg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="reward-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="reward-parsent2 text-center">
                  <p>Hot Sale</p>
                </div>
                <div class="reward-text">
                  <p>selowar kamiz</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>1000 Coins</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/sports4.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="reward-text">
                  <p>Goal Post Nets</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>1000 Coins</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-wholesale.html">
              <div class="reward-details">
                <img src="{% static 'images/saree2.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="reward-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="reward-parsent2 text-center">
                  <p>Hot Sale</p>
                </div>
                <div class="reward-text">
                  <p>Saree Product</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>1000 Coins</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/electronic3.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="reward-text">
                  <p>Mobile Charger</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>1000 Coins</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- reward end -->

    <!-- wholesale start -->

    <section id="wholesale-section">
      <div class="container-fluid">
        <div class="category-head justify-content-between d-flex">
          <div class="titel">
            <h4>Wholesale</h4>
          </div>
          <a href="#">See All<i class="fa fa-angle-right"></i></a>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="wholesale-details">
                <img src="{% static 'images/baby6.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="wholesale-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="wholesale-parsent2 text-center">
                  <p>Mega Sale</p>
                </div>
                <div class="wholesale-text">
                  <p>Full Sleeves Stylish Tops</p>
                  <span class="d-block">৳1000</span>
                  <small>Min. Order: 100</small>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="#">
              <div class="wholesale-details">
                <img src="{% static 'images/beauty11.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="wholesale-text">
                  <p>Dolce Rosa De Parfum</p>
                  <span class="d-block">৳1000</span>
                  <small>Min. Order: 100</small>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="wholesale-details">
                <img src="{% static 'images/beauty12.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="wholesale-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="wholesale-parsent2 text-center">
                  <p>Mega Sale</p>
                </div>
                <div class="wholesale-text">
                  <p>Coco Mademoiselle</p>
                  <span class="d-block">৳1000</span>
                  <small>Min. Order: 100</small>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="wholesale-details">
                <img src="{% static 'images/electronic4.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="wholesale-text">
                  <p>Elecronics Device</p>
                  <span class="d-block">৳1000</span>
                  <small>Min. Order: 100</small>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- wholesale end -->

    <!-- recommend start -->

    <section id="recommend-section">
      <div class="container-fluid">
        <div class="category-head">
          <div class="titel">
            <h4>Recommended for you</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/reward.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend2-parsent text-center">
                  <p>sale 10%</p>
                </div>
                <div class="recommend-text">
                  <p>Converse Winter Comfort Shoe</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/reward2.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-text">
                  <p>Samsung Galaxy</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/reward3.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="recommend-text">
                  <p>Samsung Galaxy</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/reward4.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-text">
                  <p>Womens Casual Jackets</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/recommend.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="recommend-text">
                  <p>Men Casual Wristwatches</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/recommend1.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-text">
                  <p>Wireless Headphones Bluetooth</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/recommend2.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-parsent text-center">
                  <p>-50%</p>
                </div>
                <div class="recommend-text">
                  <p>Wooden Kitchen Tools</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-4">
            <a href="product-details-1.html">
              <div class="reward-details">
                <img src="{% static 'images/recommend3.jpg' %}" alt="" />
                <div class="cart-heart">
                  <ul>
                    <li><i class="fa fa-shopping-cart"></i></li>
                    <li><i class="fa fa-heart-o"></i></li>
                  </ul>
                </div>
                <div class="recommend-text">
                  <p>Stainless Steel Hot Water Pot</p>
                  <ul class="d-flex">
                    <li class="mr-1 star-no">4.5</li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star"></i></li>
                    <li class="mr-1"><i class="fa fa-star-half-o"></i></li>
                  </ul>
                  <span>৳1000</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="recommend-btn">
          <button>Read More</button>
        </div>
      </div>
    </section>

    <!-- recommend end -->

    <!-- services start -->

    <section id="services-section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
            <div class="services-details text-center">
              <img src="{% static 'images/value.png' %}" alt="" />
              <h6>Great Value</h6>
              <p>
                We offer competetive prices on our 100 million plus product
                range
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
            <div class="services-details text-center">
              <img src="{% static 'images/delivery-man.png' %}" alt="" />
              <h6>Worldwide Delivery</h6>
              <p>
                We offer competetive prices on our 100 million plus product
                range
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
            <div class="services-details text-center">
              <img src="{% static 'images/payment.png' %}" alt="" />
              <h6>Safe Payment</h6>
              <p>
                We offer competetive prices on our 100 million plus product
                range
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-xs-12 mb-4">
            <div class="services-details text-center">
              <img src="{% static 'images/shopping-basket.png' %}" alt="" />
              <h6>Shop with Confidence</h6>
              <p>
                We offer competetive prices on our 100 million plus product
                range
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- services end -->


 {% endblock %}